<div [class.dark-theme]="isDarkTheme">
  <md-card>

    <md-toolbar>App</md-toolbar>

    <nav>
      <button
        color="primary"
        [routerLink]=" ['./home'] "
        md-button>Home</button>

      <button
        color="primary"
        [routerLink]=" ['./page'] "
        md-button>Page</button>

      <button
        color="primary"
        [routerLink]=" ['./observable'] "
        md-button>Observable</button>
    </nav>

    <md-card>
      <router-outlet></router-outlet>
    </md-card>

    <footer>
      <md-card>
        <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
      </md-card>
    </footer>

  </md-card>
</div>
