    <nav>
      <a [routerLink]=" ['./home'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
      </a>
      <a [routerLink]=" ['./page'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Page
      </a>
      <a [routerLink]=" ['./observable'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Observable
      </a>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
    </footer>
